<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ana.staysafesystem">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FLAG_ACTIVITY_NEW_TASK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <service
            android:name=".processor.ServerConnectionService"
            android:process=":remoteServer" />
        <service
            android:name=".processor.BluetoothService"
            android:process=":remoteBluetooth" />

        android:debuggable="true"
        <activity android:name=".gui.UserModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.LoginActivity" />
        <activity android:name=".gui.ProtectedUserActivity" />
        <activity android:name=".gui.GuardianUserActivity" />
        <activity android:name=".gui.AddFuncActivity" />
        <activity android:name=".gui.MsgFuncActivity" />
        <activity android:name=".gui.FriendsListActivity" />
        <activity android:name=".gui.CallFriendActivity" />
        <activity android:name=".gui.TrackingFuncActivity" />
        <activity android:name=".gui.FriendAskingHelpActivity" />
        <activity android:name=".gui.HistoryActivity" />
        <activity android:name=".gui.CancelAccountActivity" />
        <activity android:name=".gui.ProfileActivity" />
        <activity android:name=".gui.SelectPairActivity"></activity>
    </application>

</manifest>